/**************************************************/
/******* GLOBAL ***********************************/
/**************************************************/
#main-section {
    padding-top: 10px;
}
.max-width-to-parent, .textboxes {
    max-width: 100%;
}

#primary-column {
    background-color: #F5F5F5;
    max-width: 366px;
}
.textboxes {
    padding-bottom: 5px;
    padding-top: 5px;
}
textarea {
    min-height: 63px;
    max-width: 342px;
}



/*************************/
/**** HERO BANNER ********/
/*************************/

#banner-title {
    font-size: 3em;
    padding: 0 0 0 2.5%;
}
#main-banner {
    background-color: #00B8F1;
}



/*************************/
/******* MAIN TABS *******/
/*************************/

/* Style the tab */
.main-tabs, .outbound-tabs, .chat-tabs {
    overflow: hidden;
    background-color: #00B8F1;
}

/* Style the buttons that are used to open the tab content */
.main-tabs button, .outbound-tabs button, .chat-tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 8%;
    transition: 0.3s;
}

#chat-btn {
    padding-left: 33.7745px;
    padding-right: 33.7745px;
}

/* Change background color of buttons on hover */
.main-tabs button:hover, .outbound-tabs button:hover, .chat-tabs button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.main-tabs button.active, .outbound-tabs button:active, .chat-tabs button:active {
    background-color: #ccc;
}

/* Style the tab content */
.main-tab-content, .outbound-tab-content, .chat-tab-content {
    display: none;
    padding: 6px 12px;
    /*border: 1px solid #ccc; */
    border-top: none;
}

/**************************************************/
/******** INBOUND *********************************/
/**************************************************/

#ddl-inbound {
    margin-bottom: 10px;
}
.verify-title {
    margin: 10px auto;
}
#verify-ssn-div {
    margin-bottom: 15px;
}
#copyBtnInbound {
    margin-right: 15px;
}

/**************************************************/
/******** Chat ************************************/
/**************************************************/



/*************************/
/******* CHAT TABS *******/
/*************************/
/* Style the buttons that are used to open the tab content */
.chat-tabs button {
    padding: 14px 36.7345px;
}
#color-bar {
    background-color: #00B8F1;
    overflow: hidden;
    width: 100%;
    height: 10px;
}
.chat-button-color-bar {
    background-color: #00B8F1;
    height: 10px;
    width: 106px;
    float: left;
    border: none;
    outline: none;
}